.onboarding {
  /*height: 0;*/
  padding-top: 10px;
  width: 100%;
  display: flex !important;
  align-items: center;
  flex-direction: column;
  text-align: center;
  white-space: pre-line
}

.slick-track {
  height: 84vh;
}

.image {
  width: 30vh;
  height: 100%;
}

.title {
  font-family: "TT Norms";
  font-weight: bold;
  padding: 45px 0 20px 0;
  font-size: 25px;
  line-height: 1.2;
  color: rgb(255, 255, 255);
}

.subtitle {
  font-family: "TT Norms";
  font-weight: normal;
  font-size: 15px;
  line-height: 1.2;
  color: rgb(255, 255, 255);
}

.button_Panel {
  display: flex;
  position: fixed;
  width: 90vw;
  bottom: 5.5vh;
  justify-content: center;
}

.dots {
  display: inline-flex;
  align-items: center;
  position: fixed;
  bottom: 0px;
}

.dot {
  background-color: #fff;
  margin: 0 4px;
  border-radius: 30px;
}