.onboarding {
  height: 100%;
  height: -moz-available;
  height: -webkit-fill-available;
  height: fill-available;
  padding-top: 1vh;
  width: 100%;
  display: flex !important;
  outline: none !important;
  align-items: center;
  flex-direction: column;
  text-align: center;
  white-space: pre-line
}

.image {
  width: 30vh;
  /*height: 100%;*/
}

.title {
  font-family: "TT Norms";
  font-weight: bold;
  padding: 45px 0 20px 0;
  font-size: 25px;
  line-height: 1.2;
  color: rgb(255, 255, 255);
}

.subtitle {
  font-family: "TT Norms";
  font-weight: normal;
  font-size: 15px;
  line-height: 1.2;
  color: rgb(255, 255, 255);
}

.button_next {
  bottom: 1vh;
  position: fixed;
}

.button_Panel {
  width: 90vw !important;
  justify-content: center;
}

.dots {
  display: inline-flex;
  align-items: center;
  position: fixed;
  right: 0px;
  padding: 4vh 0;
  bottom: 0;
  justify-content: center;
  left: 0;
}

.dot {
  background-color: #fff;
  margin: 0 4px;
  border-radius: 30px;
}