.logo {
  position: absolute;
  top: 100px;
}

.image_first {
  width: 22vh;
}

.select_group {
  width: 90vw !important;
  justify-content: center;
  text-align: left;
  margin-top: 4vh;
}

.button_top-text {
  padding: 0 14px;
}

.button_FirstPage {
  display: flex;
  position: fixed;
  right: 0;
  bottom: 10px;
  left: 0;
}

.button_next_first {
  bottom: 7vh;
  position: fixed;
}

.button_PanelFirst {
  bottom: 0;
  width: 90vw !important;
  justify-content: center;
}