:root {
  --text_primary: #e1e3e6;
  --header_background: #4680C2;
  --background_page: #212123;
  --header_alternate_background: #19191a;
  --tabbar_active_icon: #4286f4;
  --tabbar_inactive_icon: #edeef0;
  --content_placeholder_icon: #aaaeb3;
  --content_placeholder_text: #aaaeb3;
  --content_tint_background: #232324;
  --background_content: #19191a;
  --background_highlighted: rgba(255, 255, 255, 0.12);
  --background_keyboard: #2c2d2e;
  --background_light: #232324;
  --background_suggestions: #2c2d2e;
  --content_tint_foreground: #909499;
  --field_background: #232324;
  --field_border: rgba(255, 255, 255, 0.12);
}

@font-face {
  font-family: 'TT Norms';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/TTNorms-Regular.eot');
  src: local('TT Norms'), local('TTNorms'),
    url('../fonts/TTNorms-Regular.woff') format('woff'),
    url('../fonts/TTNorms-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'TT Norms';
  font-style: medium;
  font-weight: 500;
  src: url('../fonts/TTNorms-Medium.eot');
  src: local('TT Norms'), local('TTNorms'),
    url('../fonts/TTNorms-Medium.woff') format('woff'),
    url('../fonts/TTNorms-Medium.ttf') format('truetype');
}

.Panel#schedule,
.Panel#settings,
.Panel#info {
  font-family: 'TT Norms';
}

.center-text {
  position: absolute;
  top: 45%;
  width: 100%;
  text-align: center;
  font-weight: 500;
  font-size: xx-large;
  color: #fff;
}