:root {
  --text_primary: #e1e3e6;
  --background_page: #212123;
  --header_alternate_background: #19191a;
  --tabbar_active_icon: #ffffff;
  --tabbar_background: #2c2d2e;
  --tabbar_inactive_icon: #76787a;
  --tabbar_tablet_active_icon: #71aaeb;
  --tabbar_tablet_background: #232324;
  --tabbar_tablet_inactive_icon: #76787a;
  --tabbar_tablet_text_primary: #e1e3e6;
  --tabbar_tablet_text_secondary: #76787a;
  --toolbar_attach_background_from: #76787a;
  --toolbar_attach_background_to: #5d5f61;
  --content_placeholder_icon: #aaaeb3;
  --content_placeholder_text: #aaaeb3;
  --content_tint_background: #232324;
  --background_content: #19191a;
  --background_highlighted: rgba(255, 255, 255, 0.12);
  --background_keyboard: #2c2d2e;
  --background_light: #232324;
  --background_suggestions: #2c2d2e;
  --content_tint_foreground: #909499;
  --field_background: #232324;
  --field_border: rgba(255, 255, 255, 0.12);
  --modal_card_background: #2c2d2e;
  --modal_card_border: rgba(255, 255, 255, 0.12);
  --modal_card_header_close: #ffffff;
  --header_background: #2c2d2e;
  --header_background_before_blur: #141414;
  --header_background_before_blur_alternate: #141414;
  --header_search_field_background: #454647;
  --header_search_field_tint: #aaaeb3;
  --search_bar_background: #2c2d2e;
  --search_bar_field_background: #454647;
  --search_bar_field_tint: #aaaeb3;
  --search_bar_segmented_control_tint: #909499;
}

@font-face {
  font-family: 'TT Norms';
  font-weight: 400;
  src: url('../fonts/TTNorms-Regular.eot?') format("eot"),
    url('../fonts/TTNorms-Regular.woff') format('woff'),
    url('../fonts/TTNorms-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'TT Norms';
  font-weight: 500;
  src: url('../fonts/TTNorms-Medium.eot?') format("eot"),
    url('../fonts/TTNorms-Medium.woff') format('woff'),
    url('../fonts/TTNorms-Medium.ttf') format('truetype');
}

.Panel#schedule,
.Panel#settings,
.Panel#info,
.Panel#feed,
.Panel#time,
.Panel#page {
  font-family: 'TT Norms';
  font-weight: 400;
}

.center-text {
  position: absolute;
  top: 45%;
  width: 100%;
  text-align: center;
  font-weight: 500;
  font-size: xx-large;
  color: #fff;
}

.center {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
}