.lessons {
  color: #fff;
  margin: 0px 0px;
}

.lesson {
  padding: 15px 12px;
  display: flex;
}

.lesson_time {
  font-weight: 400;
  min-width: 41px;
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  text-align: right;
  justify-content: space-between;
}

.lesson_content {
  padding-left: 10px;
  border-left: 1.5px solid #4286f4;
}

.lesson_content div {
  padding: 5px 0px;
}

.lesson_type {
  font-weight: 400;
  color: #4286f4;
}

.lesson_name {
  font-weight: 400;
}

.spinner {
  display: flex;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}